
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header{
    Lỗi không có quyền.    
}
<div class="alert  alert-danger" > bạn chưa đủ trình độ vô trang này nhá... chúc may mắn lần sau  </div>

