@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    Bạn không đủ đẳng cấp vô trang này nhá!!! tôi cười vô bản mặt của bạn (-_-).
    </div>
</body>
</html>
