@model List<OnlineShop.Models.Cartitem>

<div class="cart">
    <p>
        Chào mừng bạn đến với Website! <a href="/Cart/Index"><img src="/assets/admin/images/cart.jpg" height="40" width="40"/></a><div id="dd" class="wrapper-dropdown-2">   
            <ul class="dropdown">
                <li>@Model.Count sản phẩm </li> 
            </ul>
        </div>
    </p>
</div>
